{% extends 'accounts/main.html' %} {% load static %} {% block content %}

<style>
  .profile-pic {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 50%;
  }
</style>

<br />
<div class="row">
  <div class="col-md-3">
    <div class="card card-body">
      <a class="btn btn-warning" href="{% url 'home' %}">
        &#8592; Back to Profile</a
      >
      <hr />
      <h3 style="text-align: center">Account Settings</h3>
      <hr />
      <img
        class="profile-pic"
        src="{{request.user.customer.profile_pic.url}}"
      />
    </div>
  </div>
  <div class="col-md-9">
    <div class="card card-body">
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">{{form.name.label}}{{form.name}}</div>
        <div class="row">{{form.phone.label}}{{form.phone}}</div>
        <div class="row">{{form.email.label}}{{form.email}}</div>
        <div class="row">{{form.profile_pic}}</div>
        <br />
        <div class="row col-md-3">
          <input
            class="btn btn-primary"
            type="submit"
            name="Update Information"
            value="Submit"
          />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
