{% extends 'accounts/main.html' %} {% load static %} {% block content %}

<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="card card-body">
      <p>Are you sure you want to delete "{{item.product.name}}?"</p>

      <form action="{% url 'delete_order' item.id %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-2">
            <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
          </div>
          <div class="col-md-2">
            <input class="btn btn-danger" type="submit" value="Confirm" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
